<!DOCTYPE html>
<html  ng-app="proyecto">
    <head>
        <title>Puzzle Logic</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <script src="js/app.js"></script>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/estilos.css" rel="stylesheet">
        <script src="js/controllers.js"></script>
        <script type="text/javascript" data-bind="text: audio">
        </script>
    </head>
    <body data-bind="route: page" class="fondoDePaisaje">

        <div data-bind="template: { name: page }"></div>


        <script type="text/html" id="home">

            <a nav-direction="forward"  href="#/settings"><button class="button button-assertive icon ion-gear-a" style="float:right;"></button></a>
            <br>
            <br>
            <!--logo-->
            <div id="logo" style="text-align:center;">
                <img src="img/logo_pusle.png" alt="Puzzle Land" width="300rem">

                <div id="botones_comienzo">
                    <a href="#/dashboard" data-bind="click: pausa()" class="opcion_menu">
                        <span>J</span>
                        <span>u</span>
                        <span>g</span>
                        <span>a</span>
                        <span>r</span>
                    </a>
                    <br>
                    <br>
                    <a href="#/score" class="opcion_menu">
                        <span>S</span>
                        <span>c</span>
                        <span>o</span>
                        <span>r</span>
                        <span>e</span>
                    </a>
                    <br>
                    <br>
                    <a href="#/help" class="opcion_menu">
                        <span>A</span>
                        <span>y</span>
                        <span>u</span>
                        <span>d</span>
                        <span>a</span>
                    </a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <!--pie de pagina-->
            <div class="row-center" style="background-color:transparent; text-align: center;">
                <div>Derechos Reservados</div>
            </div>

        </script>
        <script type="text/html" id="dashboard">
            <!--movimientos realizados-->
            <div class="mismovimientos row">
                <div class="col">
                    <span style="float:left;">Mov:</span>
                    <span style="float:left;" id="movimientos" data-bind="text:movimientos;"></span>
                </div>
                <!--cronometro-->
                <div class="col">
                    <a href="javascript: void(0)" data-bind="click: pausa()" style="float:right;" id="pausa"><i class="icon ion-pause"></i></a>
                    <span style="float:right; margin-rigth:10px; padding-right:20px;">T:<span id="minutos" data-bind="text:contador_minutos;"></span>:<span id="segundos" data-bind="text:contador_segundos;"></span></span>
                </div>
                <div>
                    <a href="javascript: void(0)" data-bind="click: nuevo();" style="float:right;" id="nuevo">Nuevo</a>
                </div>
            </div>

            
                <div class="row tabla"  id="tabla1" data-bind="foreach: filas().columnas">
                    <div class="col" posicion="0" id="p1" data-bind="foreach:fichas">
                        <p data-bind="text:NumeroLetraSimbolo"></p>
                    </div>
                </div>
            
            <!--crearemos la tabla
            <div class="row tabla" id="tabla1">
                <div class="col" posicion="0" id="p1" ng-click="mensaje($event)">1</div>
                <div class="col" posicion="1" id="p2" ng-click="mensaje($event)">2</div>
                <div class="col" posicion="2" id="p3" ng-click="mensaje($event)">3</div>
                <div class="col" posicion="3" id="p4" ng-click="mensaje($event)">4</div>
            </div> 
            <div class="row tabla" id="tabla2">
                <div class="col" posicion="0" id="p5" ng-click="mensaje($event)">5</div>
                <div class="col" posicion="1" id="p6" ng-click="mensaje($event)">6</div>
                <div class="col" posicion="2" id="p7" ng-click="mensaje($event)">7</div>
                <div class="col" posicion="3" id="p8" ng-click="mensaje($event)">8</div>
            </div>
            <div class="row tabla" id="tabla3">
                <div class="col" posicion="0" id="p9" ng-click="mensaje($event)">9</div>
                <div class="col" posicion="1" id="p10" ng-click="mensaje($event)">10</div>
                <div class="col" posicion="2" id="p11" ng-click="mensaje($event)">11</div>
                <div class="col" posicion="3" id="p12" ng-click="mensaje($event)">12</div>
            </div>
            <div class="row tabla" id="tabla4"> 
                <div class="col" posicion="0" id="p13" ng-click="mensaje($event)">13</div>
                <div class="col" posicion="1" id="p14" ng-click="mensaje($event)">14</div>
                <div class="col" posicion="2" id="p15" ng-click="mensaje($event)">15</div>
                <div class="col vacio" posicion="3" id="p16" ng-click="mensaje($event)"></div>
            </div>  
            -->

            <!--volver-->
            <div class="mismovimientos">
                <span style="float:left; font-size:16px !important;">Derechos Reservados</span>
                <a href="#/home" style="float:right;" id="nuevo">Volver</a>  
                <div style="clear:both;"></div>
            </div>
        </script>
        <script type="text/html" id="score">
            <div class="row">
                <h1 class="col">Mejor Tiempo:</h1>
                <h2 class="col" data-bind="text: jugador().mejorTiempo">???</h2>
            </div>
            <!--pie de pagina-->
            <div class="mismovimientos">
                <span style="float:left; font-size:16px !important;">Derechos Reservados</span>

                <a href="#/home" style="float:right;" id="nuevo">Volver</a>  
                <div style="clear:both;"></div>
            </div>
        </script>
        <script type="text/html" id="settings">
            <div class="config">
                <div class="list">
                    <div class="item item-divider">
                        Configuraciones
                    </div>
                    <div class="item range range-positive">
                        <i class="icon ion-volume-low"></i>
                        <input type="range" name="volume" min="0" max="100" value="60">
                        <i class="icon ion-volume-high"></i>
                        <a href="" style="float:left; font-size:40px !important; margin-left: 5px; margin-right: 5px">
                            <i class="icon ion-volume-mute"></i>
                        </a>
                    </div>
                    <div class="item item-toggle">
                        Tutorial
                        <label class="toggle toggle-possitive">
                            <input type="checkbox" data-bind="checked: tutorial" name="tutorial">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Color de la Ficha
                        </div>
                        <select name="color">
                            <option value="1">Azul</option>
                            <option value="2" selected>Beige</option>
                            <option value="3">Rojo</option>
                            <option value="4">Verde</option>
                        </select>
                    </label>    
                </div>
            </div>
            <!--pie de pagina-->
            <div class="mismovimientos">
                <span style="float:left; font-size:16px !important;">Derechos Reservados</span>
                <a href="#/home" style="float:right;" id="nuevo">Volver</a>  
                <div style="clear:both;"></div>
            </div>
        </script>
        <script type="text/html" id="help">
            <h1 class="estiloLetra"> Instrucciones  del Juego</h1>
            <hr />
            <div class="row responsive-md">
                <div class="col HelpIzquierda" id="ayuda">
                    <h2 class="estiloLetra">!Hola! Bienevenido Puzzle Logic</h2>
                    <ul>
                        <li> <i class="icon ion-checkmark-circled"></i> Las piezas se mueven pulsando sobre ellas</li>
                        <li> <i class="icon ion-checkmark-circled"></i> Las piezas se moveran al lugar vacio </li>
                        <li> <i class="icon ion-checkmark-circled"></i> Debes ordernar las fichas del juego según el nivel, de manera tal que las fichas queden en orden consecutivo </li>
                    </ul>
                    <h3 class="estiloLetra">!Buena Suerte¡</h3>
                </div>
                <div class="col HelpDerecha" id="ayuda">
                    <img src="img/tableroganar.png" width="200" height="300" />
                    <a nav-direction="forward"  href="#/dashboard">
                        <button class="button button-positive">
                            Jugar    
                        </button>
                    </a>

                </div>
            </div>
            <div class="mismovimientos">
                <span style="float:left; font-size:16px !important;">Derechos Reservados</span>
                <a href="#/home" style="float:right;" id="nuevo">Volver</a>  
                <div style="clear:both;"></div>
            </div>
        </script>
        <!-- ${browser.bootstrap} -->
    </body>
</html>
